
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333;
}


.contact-container-creative {
    /* max-width: 900px; */
    /* margin: 60px auto; */
    padding: 20px;
    background: none;
    border-radius: 10px;
    /* box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1); */
    /* animation: fadeIn 1s ease-in; */
    margin-top: 80px;
    width: 100%;
}


.contact-heading-creative {
    text-align: center;
    font-size: 2.5rem;
    color: #302d2d;
    margin-bottom: 10px;
    /* animation: slideIn 1s ease-out; */
}

.contact-subheading-creative {
    text-align: center;
    font-size: 1.1rem;
    color: #2d2c2c;
    margin-bottom: 40px;
    /* animation: slideIn 1s ease-out; */
}


.contact-info-creative {
    display: flex;
    /* justify-content: space-between; */
    gap: 40px;
    margin-left: 300px;
    margin-right: 300px;

}


.contact-card {
    display: flex;
    align-items: center;
    background-color: #f3f3f3;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    /* transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; */
}

.contact-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.contact-icon-creative {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}


.contact-card-content h3 {
    margin: 0;
    font-size: 1.2rem;
    color: #555;
}

.contact-card-content p {
    font-size: 1rem;
    color: #777;
}


.map-section {
    margin: 30px;
    text-align: center;
}

.map-section h3 {
    font-size: 1.4rem;
    color: #1e1c1c;
    margin-bottom: 15px;
}


.social-media-section {
    text-align: center;
    margin-top: 40px;
}

.social-media-section h3 {
    font-size: 1.5rem;
    color: #1e1c1c;
    margin-bottom: 20px;
}


.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-icon {
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.social-icon:hover {
    transform: scale(1.1);
    filter: brightness(1.2);
}


@media (max-width: 768px) {
    .contact-info-creative {
        flex-direction: column;
        gap: 10px;
    }

    .map-section {
        padding: 10px;
    }

    .contact-card {
        flex-direction: column;
        align-items: flex-start;
    }

    .contact-icon-creative {
        margin-bottom: 10px;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
