
  
  .signup-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .signup-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .signup-button:hover {
    background-color: #0056b3;
  }

  .bg {
    background-image: url('../assets/signup_bg.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
  }
  
  .signup-container {
    width: 350px;
    height: 400px;
    margin: 100px auto;
    padding: 30px;
    text-align: center;
    border: 3px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    background: white;
  }
   .lnk{
    padding: 5px;
    margin: 10px;
    font-size: 13px;
  } 
  
  